.popup__input-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-left: 36px;
    min-height: 30px;
    margin-bottom: 13px;
    width: 358px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: hidden;
    opacity: 0;
    
}

@media screen and (max-width: 767px) {
    
    .popup__input-error {
        width: 242px;
        margin-left: 20px;
        
    }
}