.popup__close {
    background-image: url(../../../images/CloseIcon.png);
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    opacity: 1;
    margin: 0;
    padding: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: transparent;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {

    .popup__close {
        width: 20px;
        height: 20px;
        top: -25px;
        right: -20px;
        background-size: 20px 20px;
    }
}