.header__email{
    width: 141px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
}